Repository oxyno-zeta/golang-graphql-example, changes with the labels that .github/labeler.yml gives for each.
All labels: dockerfile, tests, actions, ci, documentation

fix(backend:messagebus:amqp): Fix wrong logger usage in consume method
  backend/pkg/golang-graphql-example/messagebus/amqp/messages.go
Labels: none

fix(backend:messagebus:amqp): Close must panic if connection wasn't on
  backend/pkg/golang-graphql-example/messagebus/amqp/connection.go
Labels: none

refactor(backend:metrics): Rename file to patch typo
  backend/pkg/golang-graphql-example/metrics/prometheus-metrics.go
Labels: none

refactor(backend): Refactor method names to be aligned with other packages
  backend/cmd/golang-graphql-example/setup-services.go
  backend/pkg/golang-graphql-example/messagebus/amqp/interface.go
  backend/pkg/golang-graphql-example/metrics/interface.go
  backend/pkg/golang-graphql-example/server/graphql-base_integration_test.go
  backend/pkg/golang-graphql-example/server/utils_integration_test.go
  backend/pkg/golang-graphql-example/signalhandler/interface.go
Labels: none

test(backend:server): Move integration tests configuration in utils file
  backend/pkg/golang-graphql-example/server/graphql-base_integration_test.go
  backend/pkg/golang-graphql-example/server/utils_integration_test.go
Labels: none

test(backend:server): Rework internal server listen test
  backend/pkg/golang-graphql-example/server/internal-server_integration_test.go
Labels: none

test(backend:server): Add messages on all phases on test suite
  backend/pkg/golang-graphql-example/server/graphql-base_integration_test.go
Labels: none

test(backend:server): Add goleak in internal server listen test
  backend/pkg/golang-graphql-example/server/internal-server_integration_test.go
Labels: none

chore: Release 3.25.1
  .project
Labels: none

fix(backend:server:graphql): Remove unneeded go generate command
  backend/pkg/golang-graphql-example/server/graphql/resolver.go
Labels: none

feat(backend:config): LoadCredential can now work with nil objects
  backend/pkg/golang-graphql-example/config/internal.go
Labels: none

feat(frontend): Change router to new data router and change architecture
  frontend/src/App.tsx
  frontend/src/index.tsx
  frontend/src/routes/index.tsx
  frontend/src/routes/router-routes.tsx
Labels: none

feat(frontend:components:AutoBreadcrumb): Add component
  frontend/src/components/AutoBreadcrumb/AutoBreadcrumb.storage-test.tsx
  frontend/src/components/AutoBreadcrumb/AutoBreadcrumb.stories.tsx
  frontend/src/components/AutoBreadcrumb/AutoBreadcrumb.test.tsx
  frontend/src/components/AutoBreadcrumb/AutoBreadcrumb.tsx
  frontend/src/components/AutoBreadcrumb/FixedBreadcrumb.tsx
  frontend/src/components/AutoBreadcrumb/GraphQLBreadcrumb.tsx
  frontend/src/components/AutoBreadcrumb/__snapshots__/AutoBreadcrumb.test.tsx.snap
  frontend/src/components/AutoBreadcrumb/index.tsx
  frontend/src/components/AutoBreadcrumb/types.ts
Labels: none

feat(frontend): Upgrade all dependencies and patch ErrorsDisplay code
  frontend/package.json
  frontend/src/components/ErrorsDisplay/ErrorsDisplay.tsx
  frontend/yarn.lock
Labels: none

fix(frontend:components:TopBar): Fix size and fix in flex
  frontend/src/components/TopBar/TopBarSpacer.tsx
Labels: none

feat(frontend:components:drawer): Rework PageDrawer to allow resize and collapse menu
  frontend/public/i18n-en.json
  frontend/src/components/MainContentWrapper/MainContentWrapper.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.stories.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.tsx
  frontend/src/components/drawer/PageDrawer/index.tsx
Labels: none

fix(frontend:components:TopBar): Fix TopBarSpacer to be more aligned with TopBar
  frontend/src/components/TopBar/TopBarSpacer.tsx
Labels: none

refactor(backend): Refactor local objects references in object functions
  backend/pkg/golang-graphql-example/config/internal.go
  backend/pkg/golang-graphql-example/metrics/prometheus-metrics.go
Labels: none

refactor(backend): Refactor metricsCl variables
  backend/cmd/golang-graphql-example/helpers.go
  backend/cmd/golang-graphql-example/main.go
  backend/cmd/golang-graphql-example/setup-services.go
  backend/cmd/golang-graphql-example/target-server.go
  backend/pkg/golang-graphql-example/database/database.go
  backend/pkg/golang-graphql-example/database/sql.go
  backend/pkg/golang-graphql-example/server/internal-server.go
  backend/pkg/golang-graphql-example/server/internal-server_integration_test.go
  backend/pkg/golang-graphql-example/server/server.go
Labels: none

feat(backend): Upgrade dependencies
  backend/go.mod
  backend/go.sum
Labels: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Labels: none

feat(frontend:components:drawer:DrawerContent): Add listItemButtonProps to add more possibilities
  frontend/src/components/drawer/DrawerContent/ListNavItemButton.tsx
Labels: none

feat(frontend:components:drawer): Export all props
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.tsx
  frontend/src/components/drawer/ContentDisplayDrawer/index.tsx
  frontend/src/components/drawer/DrawerContent/DrawerContent.tsx
  frontend/src/components/drawer/DrawerContent/ListNavItemButton.tsx
  frontend/src/components/drawer/DrawerContent/index.tsx
  frontend/src/components/drawer/OpenDrawerButton/OpenDrawerButton.tsx
  frontend/src/components/drawer/OpenDrawerButton/index.tsx
Labels: none

refactor(frontend:components:drawer): Extract ListNavItemButton component
  frontend/src/components/drawer/DrawerContent/index.tsx
  frontend/src/components/drawer/ListNavItemButton/ListNavItemButton.tsx
  frontend/src/components/drawer/ListNavItemButton/index.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.stories.tsx
Labels: none

fix(frontend:components:drawer:PageDrawer): Fix width integration
  frontend/src/components/drawer/PageDrawer/PageDrawer.tsx
Labels: none

fix(frontend:components:drawer:PageDrawer): Fix render method signature
  frontend/src/components/drawer/PageDrawer/PageDrawer.tsx
Labels: none

feat(frontend:components:drawer:ContentDisplayDrawer): Rework to make it resizable and with a better interface
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.stories.tsx
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.tsx
Labels: none

fix(frontend:components:drawer): Fix props on stories menu
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.stories.tsx
  frontend/src/components/drawer/PageDrawer/PageDrawer.stories.tsx
Labels: none

fix(frontend:components:drawer:ContentDisplayDrawer): Fix border size
  frontend/src/components/drawer/ContentDisplayDrawer/ContentDisplayDrawer.tsx
Labels: none

feat(backend): Upgrade golangci-lint
  backend/.golangci.yaml
  backend/Makefile
  backend/pkg/golang-graphql-example/business/todos/models/general.go
  backend/pkg/golang-graphql-example/config/config.go
Labels: none

feat(backend): Upgrade dependencies
  backend/go.mod
  backend/go.sum
Labels: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Labels: none

feat: Upgrade pre-commit hooks and add new ones
  .pre-commit-config.yaml
Labels: none

feat: Upgrade pre-commit
  install-deps.sh
Labels: none

feat: Add new pre-commit hook
  .pre-commit-config.yaml
Labels: none

feat: Upgrade docker image sources
  backend/Dockerfile
  frontend/Dockerfile
Labels: none

ci: Fix golang linter version
  .github/workflows/ci.yml
Labels: actions, ci

feat(backend): Upgrade dependencies
  backend/go.mod
  backend/go.sum
Labels: none

docs(frontend): Change README
  frontend/README.md
Labels: documentation

fix: Remove checkmake pre-commit
  .pre-commit-config.yaml
Labels: none

.github/labeler.yml:

# Add Dockerfile label
dockerfile:
  - Dockerfile*

# Add test label
tests:
  - pkg/**/*_test.go

# Add actions label
actions:
  - .github/**/*
  - .github/*

# Add ci label
ci:
  - .github/workflows/*

# Add documentation label
documentation:
  - "**/*.md"
  - "*.md"
