Repository oxyno-zeta/golang-graphql-example, changes with the labels that .github/labeler.yml gives for each.
All labels: dockerfile, tests, actions, documentation

chore: Lint & gqlgen run
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/database/common/sort.go
  backend/pkg/golang-graphql-example/server/graphql/generated/prelude.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/todo.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/utils.generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Labels: none

chore(frontend): Prettier frontend correctly
  .pre-commit-config.yaml
  frontend/package.json
Labels: none

chore(frontend): Patch eslint configuration for typescript
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/yarn.lock
Labels: none

chore(frontend): Patch eslint configuration for typescript and import-x
  frontend/eslint.config.mjs
Labels: none

fix(graphql): Fix memory leak on common loaders functions
  backend/pkg/golang-graphql-example/server/graphql/dataloaders/common/loaders.go
Labels: none

chore: Regenerate snapshots & generated code due to upgrade
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcher/__snapshots__/GridTableViewSwitcher.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
Labels: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Labels: none

fix(backend:server:graphql:dataloaders): Fix no error returned from dataloaders
  backend/pkg/golang-graphql-example/server/graphql/dataloaders/common/errors.go
  backend/pkg/golang-graphql-example/server/graphql/dataloaders/common/loaders.go
Labels: none

fix(backend:generator:daogen): Check unique path in dao list
  backend/tools/generator/daogen/config.go
Labels: none

fix(backend): Upgrade golang version declaration
  backend/go.mod
Labels: none

chore(backend): Clean dependencies
  backend/go.sum
Labels: none

ci: Upgrade golang
  .github/workflows/ci.yml
Labels: actions

feat(frontend): Upgrade unicorn to major upgrade
  frontend/package.json
  frontend/yarn.lock
Labels: none

fix(backend:lockdistributor): Fix lock distributor to avoid releasing heartbeat and so lock just after acquiring it
  backend/pkg/golang-graphql-example/lockdistributor/sql/lock.go
Labels: none

test(backend:lockdistributor): Add integration tests
  backend/pkg/golang-graphql-example/lockdistributor/sql/integration_test.go
Labels: none

feat(backend:server): Add new log functions for graphql fields
  backend/pkg/golang-graphql-example/log/middleware.go
  backend/pkg/golang-graphql-example/server/server.go
Labels: none

feat(backend): Add support for air command
  backend/.mise.toml
  backend/Makefile
Labels: none

feat(frontend): Ensure all json in build are minified
  frontend/package.json
  frontend/yarn.lock
Labels: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Labels: none

feat(backend): Clean dependencies & regenerate
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/generated/prelude.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/root_.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/schema.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/todo.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/utils.generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
  backend/tools/generator/daogen/config.go
Labels: none

feat(frontend): Add unicorn linter rules
  frontend/eslint.config.mjs
  frontend/src/components/ClientProvider/ClientProvider.tsx
  frontend/src/components/ProgressiveImg/ProgressiveImg.tsx
  frontend/src/components/QueryRedirectTo/QueryRedirectTo.tsx
  frontend/src/components/TopBar/TopBarUserMenu.tsx
  frontend/src/components/drawer/PageDrawerSettingsProvider/PageDrawerSettingsProvider.tsx
  frontend/src/components/filters/internal/components/FilterBuilder/FilterBuilder.tsx
  frontend/src/components/filters/internal/components/FilterBuilderFieldValue/FilterBuilderFieldValue.tsx
  frontend/src/components/filters/internal/components/FilterForm/FilterForm.test.tsx
  frontend/src/components/filters/internal/utils.ts
  frontend/src/components/filters/utils/mainSearch.ts
  frontend/src/components/gridTableViewSwitch/GridTableViewSwitcherProvider/GridTableViewSwitcherProvider.tsx
  frontend/src/components/sorts/internal/SortForm/SortForm.tsx
  frontend/src/components/sorts/utils/index.tsx
  frontend/src/components/theming/IconToggleColorMode/IconToggleColorMode.test.tsx
  frontend/src/components/theming/ThemeProvider/ThemeProvider.tsx
  frontend/src/components/theming/ToggleColorModeMenuItem/ToggleColorModeMenuItem.test.tsx
  frontend/src/components/timezone/TimezoneProvider/TimezoneProvider.tsx
  frontend/src/components/timezone/TimezoneSelector/TimezoneSelector.tsx
  frontend/src/models/config.ts
  frontend/src/utils/pagination.test.tsx
  frontend/src/utils/pagination.ts
  frontend/src/utils/urlSearchParams.test.tsx
  frontend/src/utils/urlSearchParams.ts
Labels: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Labels: none

feat(backend): Clean dependencies & regenerate
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/generated/todo.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/utils.generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Labels: none

feat(frontend): Switching to new vite & rework configuration & let rolldown build chunks
  frontend/package.json
  frontend/vite.config.mts
  frontend/yarn.lock
Labels: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Labels: none

chore: Release 3.46.0
  .project
Labels: none

fix(frontend): Fix vitejs configuration to have right code splitting
  frontend/vite.config.mts
Labels: none

feat(frontend): Upgrade dependencies
  frontend/eslint.config.mjs
  frontend/package.json
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: none

feat: Add CLAUDE.md files
  backend/CLAUDE.md
  frontend/CLAUDE.md
Labels: documentation

feat(backend): Update golang in go.mod
  backend/go.mod
  backend/go.sum
Labels: none

fix(frontend): Fix storybook build
  frontend/.storybook/i18next.mjs
  frontend/.storybook/preview.ts
Labels: none

feat(backend): Add option to disable graphql logs
  backend/pkg/golang-graphql-example/config/config.go
  backend/pkg/golang-graphql-example/server/server.go
Labels: none

feat(backend): Clean dependencies
  backend/go.sum
Labels: none

style(backend): Lint code
  backend/pkg/golang-graphql-example/config/credential-loader.go
Labels: none

feat: Add new rules to Claude
  backend/CLAUDE.md
  frontend/CLAUDE.md
Labels: documentation

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/yarn.lock
Labels: none

ci: New right limitations on all CI
  .github/workflows/ci.yml
  .github/workflows/labeler.yml
  .github/workflows/size.yml
  .github/workflows/stale.yml
Labels: actions

fix(frontend): Fix number management in filters
  frontend/public/i18n-en.json
  frontend/src/components/filters/internal/components/FilterBuilderFieldValue/FilterBuilderFieldValue.tsx
  frontend/src/models/general-operations.ts
Labels: none

feat(backend): Regenerate code
  backend/go.sum
  backend/pkg/golang-graphql-example/server/graphql/generated/prelude.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/root_.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/schema.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/todo.generated.go
  backend/pkg/golang-graphql-example/server/graphql/generated/utils.generated.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
Labels: none

feat(frontend): Lint & patch code
  frontend/src/components/filters/FilterSearchBar/FilterSearchBar.tsx
  frontend/src/components/filters/internal/components/FilterBuilderField/FilterBuilderField.tsx
  frontend/src/components/filters/internal/components/FilterForm/FilterForm.test.tsx
  frontend/src/components/sorts/utils/index.tsx
  frontend/src/components/timezone/TimezoneSelector/TimezoneSelector.test.tsx
  frontend/src/utils/urlSearchParams.ts
Labels: none

.github/labeler.yml:

# Add Dockerfile label
dockerfile:
  - changed-files:
      - any-glob-to-any-file:
          - Dockerfile*

# Add test label
tests:
  - changed-files:
      - any-glob-to-any-file:
          - pkg/**/*_test.go

# Add actions label
actions:
  - changed-files:
      - any-glob-to-any-file:
          - .github/**/*
          - .github/*

# Add documentation label
documentation:
  - changed-files:
      - any-glob-to-any-file:
          - "**/*.md"
          - "*.md"
