Repository oxyno-zeta/golang-graphql-example, changes with the labels that .github/labeler.yml gives for each.
All labels: dockerfile, tests, actions, ci, documentation

fix: Fix bearer configuration
  bearer.yml
Labels: none

feat(backend): Upgrade dependencies
  backend/go.mod
  backend/go.sum
Labels: none

chore: Release 3.29.0
  .project
Labels: none

feat(backend:lockdistributor): Add traces for lock and release
  backend/pkg/golang-graphql-example/lockdistributor/sql/lock.go
Labels: none

feat(backend): Clean dependencies
  backend/go.sum
Labels: none

fix(lockdistributor): Fix lock trace name
  backend/pkg/golang-graphql-example/lockdistributor/sql/lock.go
Labels: none

feat(frontend): Upgrade dependencies, migrate to vite 5, upgrade yarn
  frontend/.jest/jest.global-setup.cjs
  frontend/.jest/jest.setup.cjs
  frontend/.storybook/i18next.cjs
  frontend/.storybook/preview.ts
  frontend/.yarn/releases/yarn-3.6.4.cjs
  frontend/.yarn/releases/yarn-4.0.2.cjs
  frontend/.yarnrc.yml
  frontend/jest.config.ts
  frontend/package.json
  frontend/src/components/HelpForcedTooltip/__snapshots__/HelpForcedTooltip.test.tsx.snap
  frontend/src/components/HelpTooltipButton/__snapshots__/HelpTooltipButton.test.tsx.snap
  frontend/src/components/InfoForcedTooltip/__snapshots__/InfoForcedTooltip.test.tsx.snap
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/tsconfig.json
  frontend/yarn.lock
Labels: none

feat(backend): Upgrade dependencies
  backend/Dockerfile
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/authx/authentication/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/authx/authorization/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/business/todos/daos/mocks/mock_Doa.go
  backend/pkg/golang-graphql-example/business/todos/mocks/mock_AuthorizationService.go
  backend/pkg/golang-graphql-example/business/todos/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/config/mocks/mock_Manager.go
  backend/pkg/golang-graphql-example/database/mocks/mock_DB.go
  backend/pkg/golang-graphql-example/email/mocks/mock_Email.go
  backend/pkg/golang-graphql-example/email/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/mocks/mock_Lock.go
  backend/pkg/golang-graphql-example/lockdistributor/sql/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/messagebus/amqp/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/metrics/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/server/graphql/generated/generated.go
  backend/pkg/golang-graphql-example/server/graphql/model/models_gen.go
  backend/pkg/golang-graphql-example/server/graphql/schema.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/todo.resolvers.go
  backend/pkg/golang-graphql-example/server/graphql/utils.resolvers.go
  backend/pkg/golang-graphql-example/server/server.go
  backend/pkg/golang-graphql-example/signalhandler/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/tracing/mocks/mock_Service.go
  backend/pkg/golang-graphql-example/tracing/mocks/mock_Trace.go
Labels: none

feat: Upgrade pre-commit dependencies & migrate to cjs
  .pre-commit-config.yaml
  release.config.cjs
Labels: none

chore: Release 3.30.0
  .project
Labels: none

feat(backend): Add more linters & patch code
  backend/.golangci.yaml
  backend/pkg/golang-graphql-example/log/log.go
  backend/pkg/golang-graphql-example/server/graphql/utils/utils.go
Labels: none

feat(frontend:components): Add ScrollOnTop component
  frontend/src/components/ScrollOnTop/ScrollOnTop.tsx
  frontend/src/components/ScrollOnTop/index.tsx
  frontend/src/components/TopBar/TopBar.tsx
Labels: none

feat(frontend:components): Add ProgressiveImg component
  frontend/src/components/ProgressiveImg/ProgressiveImg.tsx
  frontend/src/components/ProgressiveImg/index.tsx
Labels: none

feat(frontend): Upgrade yarn berry and update configuration to allow enabling or not global cache
  frontend/.yarn/releases/yarn-4.0.2.cjs
  frontend/.yarn/releases/yarn-4.1.0.cjs
  frontend/.yarnrc.yml
  frontend/package.json
Labels: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/src/components/HelpForcedTooltip/__snapshots__/HelpForcedTooltip.test.tsx.snap
  frontend/src/components/HelpTooltipButton/__snapshots__/HelpTooltipButton.test.tsx.snap
  frontend/src/components/InfoForcedTooltip/__snapshots__/InfoForcedTooltip.test.tsx.snap
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/theming/ToggleColorModeMenuItem/__snapshots__/ToggleColorModeMenuItem.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/yarn.lock
Labels: none

feat(backend:common:correlation-id): Change uuid generation to optimize speed
  backend/pkg/golang-graphql-example/common/correlation-id/correlation-id.go
Labels: none

feat(backend:database): Change id generation to uuid v7 for better index
  backend/pkg/golang-graphql-example/database/basemodel.go
Labels: none

fix(backend:database): Fix wrong tag for index on deleted at
  backend/pkg/golang-graphql-example/database/basemodel.go
Labels: none

feat(backend:database): Add base with all indexes on all dates
  backend/pkg/golang-graphql-example/database/basemodel-with-all-indexes.go
Labels: none

feat(backend): Upgrade dependencies and tests
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/database/common/filter_test.go
Labels: none

feat(backend): Add tracing sampler configuration support
  backend/pkg/golang-graphql-example/config/config.go
  backend/pkg/golang-graphql-example/tracing/service.go
Labels: none

feat(backend): Upgrade some dependencies and linter
  backend/.golangci.yaml
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/authx/authentication/service.go
  backend/pkg/golang-graphql-example/authx/models/oidc-user.go
  backend/pkg/golang-graphql-example/business/todos/service.go
  backend/pkg/golang-graphql-example/config/credential-loader.go
  backend/pkg/golang-graphql-example/config/internal.go
  backend/pkg/golang-graphql-example/database/common/filter.go
  backend/pkg/golang-graphql-example/server/server.go
Labels: none

feat(frontend): Upgrade dependencies
  frontend/package.json
  frontend/yarn.lock
Labels: none

chore: Release 3.31.0
  .project
Labels: none

fix(backend:graphql:dataloader): Effectively remove opentracing and switch to opentelemetry
  backend/README.md
  backend/go.mod
  backend/pkg/golang-graphql-example/server/graphql/dataloaders/todos/instance.go
Labels: documentation

feat(backend): Upgrade dependencies & tests
  backend/Makefile
  backend/go.mod
  backend/go.sum
  backend/pkg/golang-graphql-example/database/common/filter_test.go
  backend/pkg/golang-graphql-example/database/common/projection_test.go
  backend/pkg/golang-graphql-example/database/common/sort_test.go
  backend/pkg/golang-graphql-example/database/pagination/pagination_test.go
Labels: none

feat(frontend): Upgrade dependencies
  frontend/.yarn/releases/yarn-4.1.0.cjs
  frontend/.yarn/releases/yarn-4.1.1.cjs
  frontend/.yarnrc.yml
  frontend/package.json
  frontend/src/components/filters/internal/components/FilterForm/__snapshots__/FilterForm.test.tsx.snap
  frontend/src/components/sorts/internal/SortForm/__snapshots__/SortForm.test.tsx.snap
  frontend/src/components/timezone/TimezoneSelector/__snapshots__/TimezoneSelector.test.tsx.snap
  frontend/yarn.lock
Labels: none

feat(backend): Clean dependencies
  backend/go.sum
Labels: none

feat(backend): Add support for podman
  backend/Makefile
Labels: none

feat(backend): Add support for container multi arch build
  backend/Dockerfile.multiarch
  backend/Makefile
Labels: none

fix(backend): Disable CGO to allow multi arch build on arm64
  backend/Makefile
Labels: none

feat: Add gitleaks configuration to ignore folders
  .gitleaks.toml
  .gitleaksignore
Labels: none

feat(frontend): Upgrade dependencies and rename some files
  frontend/.storybook/main.cts
  frontend/package.json
  frontend/tsconfig.json
  frontend/tsconfig.node.json
  frontend/vite.config.mts
  frontend/yarn.lock
Labels: none

feat(backend): Upgrade keycloak
  backend/Makefile
Labels: none

feat(backend): Upgrade dependencies
  backend/go.mod
  backend/go.sum
Labels: none

feat: Upgrade pre-commit hooks
  .pre-commit-config.yaml
Labels: none

ci: Fix CI to use docker and not podman
  .github/workflows/ci.yml
Labels: actions, ci

ci: Fix backend linter version
  .github/workflows/ci.yml
Labels: actions, ci

fix(backend): Use forked version of gormigrate
  backend/go.mod
  backend/go.sum
Labels: none

fix(backend): Use patched version of gormigrate
  backend/go.mod
  backend/go.sum
Labels: none

.github/labeler.yml:

# Add Dockerfile label
dockerfile:
  - Dockerfile*

# Add test label
tests:
  - pkg/**/*_test.go

# Add actions label
actions:
  - .github/**/*
  - .github/*

# Add ci label
ci:
  - .github/workflows/*

# Add documentation label
documentation:
  - "**/*.md"
  - "*.md"
